body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.header_table {
    width: 100%;
    border-collapse: collapse;
}
.header_table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #fce4d4;
    font-weight: bold;
}
.logo_cell {
    width: 15%;
}
.title_cell {
    width: 85%;
    font-size: 1.2em;
}

.nav_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fdeee2;
}
.nav_table td {
    border: 1px solid black;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
}
.current_page {
    font-weight: bold;
}

.main_layout {
    width: 100%;
    border-collapse: collapse;
}
.sidebar_column {
    width: 15%;
    border: 1px solid black;
    vertical-align: top;
}
.content_column {
    width: 85%;
    border: 1px solid black;
    vertical-align: top;
    padding: 20px;
    min-height: 400px;
}

.side_item {
    padding: 10px;
    border-bottom: 1px solid black;
    height: 100px;
}

.login_area {
    text-align: center;
    margin-top: 50px;
}
.input_row {
    margin-bottom: 15px;
    text-align: right;
    padding-right: 250px;
}
.input_row label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: left;
}
.input_row input {
    width: 150px;
    padding: 5px;
    border: 2px solid black;
}
.button_container {
    margin-top: 30px;
}
.submit_button {
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px black;
    margin-right: 15px;
}
.reset_button {
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 2px solid black;
}