*{
    margin : 0px;
    padding: 0px;
}
h1 {
    background-color: aqua;
    position: fixed;
    left : 50px;
}
.child{
    border: 2px solid black;
    height :50px;
    width :50px;
    margin: 5px;
}
