body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 700px;
    border: 1px solid black;
    background-color: white;
}

.header {
    display: flex;
    background-color: #f7d9a5;
    border-bottom: 1px solid black;
}

.logo {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid black;
}

.site-name {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.site-name span {
    background-color: yellow; 
}


.navbar {
    display: flex;
    background-color: #fbe6c4; 
    border-bottom: 1px solid black;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    border-right: 1px solid black;
}

.nav-item:last-child {
    border-right: none;
}


.main-body {
    display: flex;
}

.sidebar {
    width: 150px; 
    border-right: 1px solid black;
    padding: 5px 0;
}

.sidebar p {
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
}

.description {
    flex-grow: 1;
    padding: 50px 20px;
    text-align: center;
}